.page-id-8,
.page-id-100,
.parent-pageid-100 {
  #Forma_1 {
    fill: $main3;
  }
  // #Forma_2 {
  //   fill: #ffcd93;
  // }
  #Forma_10 {
    fill: $main3;
  }
  h1.entry-title {
    color: $main3 !important;
  }
}
.page-id-10,
.page-id-101,
.parent-pageid-101 {
  #Forma_1 {
    fill: $main2;
  }
  // #Forma_2 {
  //   fill: #a5e2ff;
  // }
  #Forma_10 {
    fill: #a5e2ff;
  }
  h1.entry-title {
    color: $main2 !important;
  }
}
.page-id-6,
.page-id-99,
.parent-pageid-99 {
  #Forma_1 {
    fill: $main1;
  }
  // #Forma_2 {
  //   fill: #c0e88e;
  // }
  #Forma_10 {
    fill: #c0e88e;
  }
  h1.entry-title {
    color: $main1 !important;
  }
}
#header {
  padding: 0px 0px;
  background-color: $main;
  background-image: url("../img/bg-header.png");
  background-size: cover;
  background-position: bottom;
  margin-bottom: 50px;
  .container-full {
    @media #{$md} {
      padding: 0px 0px;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    // gap: 10px;
    @media #{$md} {
      flex-wrap: wrap;
    }
  }
  .navbar__navigation {
    display: flex;
    justify-content: flex-end;
    // align-items: flex-end;
    @media #{$lg} {
      order: 3;
      align-items: flex-end;
    }
    @media #{$md} {
      // display: none;
      order: 5;
      position: fixed;
      z-index: 69;
      background: $main;
      height: 100vh;
      top: 0;
      max-width: 300px;
      align-items: start;
      text-align: left;
      align-self: flex-start;
      box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.4);
      left: -150%;
      transition: all 0.3s ease-in-out;
    }
    ul {
      list-style: none;
      padding: 30px 0px;
      margin: 0;
      display: flex;
      align-self: center;
      @media #{$md} {
        flex-flow: column;
        justify-content: center;
        height: 100%;
        align-items: flex-start;
        align-self: start;
      }
      li {
        a {
          text-align: center;
          text-decoration: none;
          color: #fff;
          padding: 10px;
          @media #{$md} {
            text-align: left;
            display: block;
          }
          &:hover {
            color: $main2;
          }
        }
      }
      .btn-nav {
        margin-left: 20px;
        @media #{$lg} {
          margin-left: 10px;
        }
        @media #{$md} {
          margin: 0 10px;
        }
        a {
          background-color: $main3;
          border: 2px solid $main3;
          padding: 15px 40px;
          font-size: 18px;
          @media #{$lg} {
            padding: 10px 20px;
          }
          &:hover {
            color: $main3;
            background: none;
          }
        }
      }
      .current_page_item {
        a {
          color: $main2;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            z-index: 0;
            display: block;
            clip-path: polygon(5% 83%, 100% 81%, 96% 100%, 0% 100%);
            background-color: $main2;
            width: 100%;
            height: 20px;
            bottom: 10px;
            left: 0px;
            // transform: translate(0px, 0px);
            opacity: 0.5;
          }
        }
      }
    }
  }

  .navbar__navigation.active {
    left: 0;
  }
}
.navbar__brand {
  padding: 20px;
  @media #{$xlg} {
    width: 40%;
  }
  @media #{$md} {
    order: 2;
    // margin-top: -50px;
  }
  @media #{$sm} {
    width: 60%;
    margin-top: 0px;
    padding: 20px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    @media #{$sm} {
      max-width: 250px;
      width: 100%;
    }
  }
}
.navbar-wrap {
  width: 100%;
  @media #{$md} {
    order: 1;
  }
}
.navbar__top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-items: stretch;
  gap: 20px;
  @media #{$xlg} {
    gap: 10px;
  }
  @media #{$md} {
    justify-content: space-between;
  }
  @media #{$sm} {
    gap: 0;
  }

  #programy-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center !important;
    align-items: stretch;
    align-self: stretch;
    height: 100%;
    @media #{$sm} {
      display: none;
    }
    li {
      text-align: center;
      margin: 0;

      a {
        height: 100%;
        display: flex;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        // padding: 10px 20px;
        padding-left: 20px;
        padding-right: 20px;
        transition: all 0.2s linear;

        @media #{$xlg} {
          font-size: 16px !important;
          padding-left: 10px;
          padding-right: 10px;
        }
        @media #{$lg} {
          font-size: 14px !important;
          padding-left: 5px;
          padding-right: 5px;
        }
        // @media #{$lg} {
        //   font-size: 18px;
        // }
        span {
          align-self: center;
        }
      }
    }
    .current_page_item {
      a {
        &:before {
          display: none !important;
        }
      }
    }
    .aw-color {
      a {
        background-color: $main1;
        border: 2px solid $main1;
        color: #fff;
        &:hover {
          background: none;
          color: $main1;
        }
      }
    }

    .current_page_item.aw-color {
      a {
        background: none;
        color: $main1;
      }
    }
    .ao-color {
      a {
        background-color: $main3;
        border: 2px solid $main3;
        color: #fff;
        &:hover {
          background: none;
          color: $main3;
        }
      }
    }
    .current_page_item.ao-color {
      a {
        background: none;
        color: $main3;
      }
    }
    .adk-color {
      a {
        background-color: $main2;
        border: 2px solid $main2;
        color: #fff;
        &:hover {
          background: none;
          color: $main2;
        }
      }
    }
    .current_page_item.adk-color {
      a {
        background: none;
        color: $main2;
      }
    }
  }
}
.navbar__cta {
  // display: flex;
  // flex-wrap: wrap;
  // flex-flow: column;
  // align-items: end;
  // justify-content: center;
  // gap: 15px;
  // // @media #{$lg} {
  // //   order: 1;
  // //   width: 100%;
  // //   flex-wrap: nowrap;
  // //   flex-flow: row;
  // //   justify-content: flex-end;
  // // }
  @media #{$sm} {
    width: 100%;
    background: #fff;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .navbar__cta__logos {
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    @media #{$sm} {
      width: 100%;
    }
    a {
      display: block;
      text-align: center;
      text-decoration: none !important;
      &:hover {
        opacity: 0.8;
      }
      span {
        display: block;
        font-size: 12px;
        color: $light-black;
        @media #{$lg} {
          display: none;
        }
      }
    }
  }
  // img {
  //   display: block;
  //   max-width: 270px;
  //   @media #{$sm} {
  //     margin: 0 auto;
  //   }
  // }
  // a.btn-main {
  //   // padding: 20px 30px;
  //   display: inline-block;
  //   @media #{$lg} {
  //     align-self: stretch;
  //     position: relative;
  //     width: 200px;
  //     text-align: center;
  //     span {
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //       width: 100%;
  //     }
  //   }
  //   @media #{$sm} {
  //     display: none;
  //   }
  // }
}

.navbar__toggler {
  display: none;
  padding: 0 30px;
  min-height: 45.2px;
  align-items: center;
  @media #{$md} {
    display: flex;
    order: 4;
  }
  @media #{$sm} {
    order: 4;
  }
  @media #{$xx} {
    padding: 0 15px;
  }

  .navbar__toggler__btn {
    width: 50px;
    cursor: pointer;
    span {
      transition: all 0.2s linear;
      display: block;
      width: 100%;
      height: 5px;
      background-color: $main2;
      margin-bottom: 5px;
      &:nth-child(1) {
        width: 50%;
      }
      &:nth-child(3) {
        width: 75%;
      }
    }
  }
  &:hover {
    .navbar__toggler__btn {
      span {
        background-color: $main2;
        width: 100% !important;
      }
    }
  }
}
.navbar__toggler.active {
  .navbar__toggler__btn {
    span {
      width: 100%;
      background-color: $main2;
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(1) {
        transform: rotate(45deg) translate(0px, 3px);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}
