:root {
  --main: #185ab1;
  --main1: #8bbc4f;
  --main2: #36a9e1;
  --main3: #f7931d;
  --black: #091a31;
  --black2: #2b2b2b;
  --light-black: #5e5a52;
  --gray: #b2b9c5;
  --light: #f7f7f5;
  --white: #fff;
}

.hight-contrast {
  --main: #ffeb87;
  --main: #ffeb87;
  --main1: #ffeb87;
  --main2: #ffeb87;
  --main3: #ffeb87;
  --black: #ffeb87;
  --black2: #fff;
  --light-black: #ffeb87;
  --white: #212529;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.2;
  color: var(--black);
}

.home-slider .swiper-slide .slide .copy .copy__title {
  font-size: 4em;
  line-height: 1.1;
}

.section-tite {
  font-size: 3.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "futura-pt-condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: var(--black);
  transition: all 0.3s;
}

h1,
.h1 {
  font-size: 2.25em;
  color: var(--black);
}

h2,
.h2 {
  font-size: 1.8em;
  color: var(--black);
}

h3,
.h3 {
  font-size: 1.5em;
  color: var(--black);
}

h4,
.h4 {
  font-size: 1.3em;
  color: var(--black);
}

h5,
.h5 {
  font-size: 1.125em;
  color: var(--black);
}

h6,
.h6 {
  font-size: 1em;
  color: var(--black);
}

.tag-special {
  font-family: "futura-pt-condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.5;
  color: var(--light-black);
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 0.875em;
  }
}

ul {
  margin: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 1.5;
  color: var(--light-black);
}

b,
strong {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--black);
}

a {
  color: var(--main2);
  font-style: normal;
}
a:hover {
  color: var(--main);
}

span {
  color: var(--black);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.aligncenter {
  text-align: center;
}

.wp-block-embed__wrapper iframe {
  max-width: 100%;
  width: 715px;
  height: 400px;
}

.wp-block-columns {
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  overflow-x: hidden;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
}
@media only screen and (max-width: 998px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-narrow {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .container-narrow {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .entry-content .container-narrow {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.container-full {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#main {
  position: relative;
  z-index: 1;
}

#go-to-top {
  cursor: pointer;
  position: fixed;
  text-align: center;
  z-index: 22;
  right: 20px;
  bottom: 30px;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  transform: translate(0, 100px);
  transition: all 0.2s linear;
  background-color: var(--main2);
  border: 2px solid var(--white);
}
@media only screen and (max-width: 768px) {
  #go-to-top {
    bottom: 20px;
    right: 15px;
  }
}
#go-to-top svg {
  margin-top: 5px;
}
#go-to-top svg path {
  fill: var(--white);
}
#go-to-top:hover {
  background-color: var(--main);
  transform: translate(0, 100px), scale(1.1);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#go-to-top.active {
  transform: translate(0, 0);
}

.go-pagination {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.go-pagination a {
  padding: 5px 1px;
  text-decoration: none;
}
.go-pagination a:hover {
  color: var(--main2);
}
.go-pagination span.current {
  background-color: var(--black);
  color: var(--white) f;
  padding: 5px 5px;
  border-radius: 3px;
}

.rank-math-breadcrumb p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.8em;
}
.rank-math-breadcrumb p span:last-child {
  color: var(--black);
  font-size: 1em;
  display: inline-block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: "----";
  text-align: left;
}

.aw-color {
  color: var(--main1);
}

.ao-color {
  color: var(--main2);
}

.adk-color {
  color: var(--var(--main) 3);
}

.sticky-socialmedia {
  position: fixed;
  z-index: 66;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
@media only screen and (max-width: 768px) {
  .sticky-socialmedia {
    top: initial;
    transform: translate(0, 0);
    bottom: 100px;
  }
}
.sticky-socialmedia ul {
  list-style: none;
  padding: 0;
}
.sticky-socialmedia ul li {
  margin: 0;
  margin-bottom: 10px;
}
.sticky-socialmedia ul li a {
  background-color: var(--white);
  display: block;
  margin: 0;
  padding: 2px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.sticky-socialmedia ul li a svg {
  display: block;
}
.sticky-socialmedia ul li a svg path {
  fill: var(--main2);
  transition: all 0.2s linear;
}
.sticky-socialmedia ul li a:hover {
  box-shadow: 0 0px 10px 0px rgba(var(--main), 0.5);
  transform: scale(1.1);
}
.sticky-socialmedia ul li a:hover path {
  fill: var(--var(--main) 3);
}

.text-large {
  font-size: 125%;
}

#footer {
  background-color: #dff5ff;
}

.f-ornament {
  width: 100%;
  height: auto;
  display: block;
}

.f-main {
  padding: 20px 0;
  margin-bottom: 30px;
}
.f-main .f-main__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.f-main .f-main__wrap .col {
  width: calc(50% - 20px);
}
@media only screen and (max-width: 768px) {
  .f-main .f-main__wrap .col {
    width: 100%;
  }
}

.f_company {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .f_company {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.f_company .desc p {
  font-size: 0.87em;
}
.f_company .desc .con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .f_company .desc .con {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.f_company .desc .con .con__left {
  margin-bottom: 10px;
}
.f_company .desc .con .con__left a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}
.f_event {
  text-align: center;
}
.f_event .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}
.f_event .logos img {
  align-self: center;
  display: block;
  width: auto;
  height: 60px;
}
@media only screen and (max-width: 768px) {
  .f_event .logos img {
    height: 40px;
  }
}
.f_event p {
  font-size: 0.87em;
}

.f-info__ornament {
  width: 100%;
  height: auto;
  display: block;
}

.f-info {
  margin-top: -1px;
  background-color: var(--main);
}
.f-info .f-info__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media only screen and (max-width: 768px) {
  .f-info .f-info__wrap {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.f-info .f-info__wrap .center {
  width: 100%;
  text-align: center;
  justify-self: center;
  border-top: 1px solid rgba(var(--white), 0.3);
  margin-top: 20px;
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  .f-info .f-info__wrap .center {
    order: 3;
  }
}
.f-info .f-info__wrap .left #footer-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .f-info .f-info__wrap .left #footer-nav-list {
    justify-content: center;
    margin-top: 20px;
  }
}
.f-info .f-info__wrap .left #footer-nav-list li a {
  font-size: 0.75em;
  padding: 5px;
  text-decoration: none;
}
.f-info .f-info__wrap .left #footer-nav-list li a:hover {
  color: var(--main2);
}
@media only screen and (max-width: 768px) {
  .f-info .f-info__wrap .left {
    width: 100%;
    order: 2;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .f-info .f-info__wrap .right {
    text-align: center;
    width: 100%;
    order: 1;
  }
}
.f-info .f-info__wrap .right ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .f-info .f-info__wrap .right ul {
    justify-content: center;
  }
}
.f-info .f-info__wrap .right ul li a svg path {
  fill: var(--white);
}
.f-info .f-info__wrap .right ul li a:hover svg path {
  fill: var(--main3);
}
.f-info .f-info__wrap * {
  color: var(--white);
  margin: 0;
  padding: 0;
}
.f-info .f-info__wrap p {
  font-size: 0.75em;
  opacity: 0.8;
}

.page-id-8 #Forma_1,
.page-id-100 #Forma_1,
.parent-pageid-100 #Forma_1 {
  fill: var(--main3);
}
.page-id-8 #Forma_10,
.page-id-100 #Forma_10,
.parent-pageid-100 #Forma_10 {
  fill: var(--main3);
}
.page-id-8 h1.entry-title,
.page-id-100 h1.entry-title,
.parent-pageid-100 h1.entry-title {
  color: var(--main3) !important;
}

.page-id-10 #Forma_1,
.page-id-101 #Forma_1,
.parent-pageid-101 #Forma_1 {
  fill: var(--main2);
}
.page-id-10 #Forma_10,
.page-id-101 #Forma_10,
.parent-pageid-101 #Forma_10 {
  fill: #a5e2ff;
}
.page-id-10 h1.entry-title,
.page-id-101 h1.entry-title,
.parent-pageid-101 h1.entry-title {
  color: var(--main2) !important;
}

.page-id-6 #Forma_1,
.page-id-99 #Forma_1,
.parent-pageid-99 #Forma_1 {
  fill: var(--main1);
}
.page-id-6 #Forma_10,
.page-id-99 #Forma_10,
.parent-pageid-99 #Forma_10 {
  fill: #c0e88e;
}
.page-id-6 h1.entry-title,
.page-id-99 h1.entry-title,
.parent-pageid-99 h1.entry-title {
  color: var(--main1) !important;
}

#header {
  padding: 0px 0px;
  background-color: var(--main);
  background-image: url("../img/bg-header.png");
  background-size: cover;
  background-position: bottom;
  margin-bottom: 50px;
}
@media only screen and (max-width: 998px) {
  #header .container-full {
    padding: 0px 0px;
  }
}
#header .navbar {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 998px) {
  #header .navbar {
    flex-wrap: wrap;
  }
}
#header .navbar__navigation {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 1300px) {
  #header .navbar__navigation {
    order: 3;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 998px) {
  #header .navbar__navigation {
    order: 5;
    position: fixed;
    z-index: 69;
    background: var(--main);
    height: 100vh;
    top: 0;
    max-width: 300px;
    align-items: start;
    text-align: left;
    align-self: flex-start;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.4);
    left: -150%;
    transition: all 0.3s ease-in-out;
  }
}
#header .navbar__navigation ul {
  list-style: none;
  padding: 30px 0px;
  margin: 0;
  display: flex;
  align-self: center;
}
@media only screen and (max-width: 998px) {
  #header .navbar__navigation ul {
    flex-flow: column;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
    align-self: start;
  }
}
#header .navbar__navigation ul li a {
  text-align: center;
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}
@media only screen and (max-width: 998px) {
  #header .navbar__navigation ul li a {
    text-align: left;
    display: block;
  }
}
#header .navbar__navigation ul li a span {
  color: var(--white);
}
#header .navbar__navigation ul li a:hover span {
  color: var(--main2);
}
#header .navbar__navigation ul .btn-nav {
  margin-left: 20px;
}
@media only screen and (max-width: 1300px) {
  #header .navbar__navigation ul .btn-nav {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 998px) {
  #header .navbar__navigation ul .btn-nav {
    margin: 0 10px;
  }
}
#header .navbar__navigation ul .btn-nav a {
  background-color: var(--main3);
  border: 2px solid var(--main3);
  padding: 10px 20px;
  font-size: 16px;
  white-space: nowrap;
}
@media only screen and (max-width: 1300px) {
  #header .navbar__navigation ul .btn-nav a {
    padding: 10px 20px;
  }
}
#header .navbar__navigation ul .btn-nav a:hover {
  color: var(--main3);
  background: none;
}
#header .navbar__navigation ul .current_page_item a {
  color: var(--main2);
  position: relative;
}
#header .navbar__navigation ul .current_page_item a:before {
  content: "";
  position: absolute;
  z-index: -1;
  z-index: 0;
  display: block;
  -webkit-clip-path: polygon(5% 83%, 100% 81%, 96% 100%, 0% 100%);
          clip-path: polygon(5% 83%, 100% 81%, 96% 100%, 0% 100%);
  background-color: var(--main2);
  width: 100%;
  height: 20px;
  bottom: 10px;
  left: 0px;
  opacity: 0.5;
}
#header .navbar__navigation.active {
  left: 0;
}

.navbar__brand {
  padding: 20px;
}
@media only screen and (max-width: 1400px) {
  .navbar__brand {
    width: 40%;
  }
}
@media only screen and (max-width: 998px) {
  .navbar__brand {
    order: 2;
  }
}
@media only screen and (max-width: 768px) {
  .navbar__brand {
    width: 60%;
    margin-top: 0px;
    padding: 20px;
  }
}
.navbar__brand img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .navbar__brand img {
    max-width: 250px;
    width: 100%;
  }
}

.navbar-wrap {
  width: 100%;
}
@media only screen and (max-width: 998px) {
  .navbar-wrap {
    order: 1;
  }
}

.navbar__top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-items: stretch;
  gap: 20px;
}
@media only screen and (max-width: 1400px) {
  .navbar__top {
    gap: 10px;
  }
}
@media only screen and (max-width: 998px) {
  .navbar__top {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  .navbar__top {
    gap: 0;
  }
}
.navbar__top #programy-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center !important;
  align-items: stretch;
  align-self: stretch;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .navbar__top #programy-nav-list {
    display: none;
  }
}
.navbar__top #programy-nav-list li {
  text-align: center;
  margin: 0;
}
.navbar__top #programy-nav-list li a {
  height: 100%;
  display: flex;
  font-size: 1.125em;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.2s linear;
}
@media only screen and (max-width: 1400px) {
  .navbar__top #programy-nav-list li a {
    font-size: 1em !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 1300px) {
  .navbar__top #programy-nav-list li a {
    font-size: 0.8em !important;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.navbar__top #programy-nav-list li a span {
  align-self: center;
  color: var(--white);
}
.navbar__top #programy-nav-list .current_page_item a:before {
  display: none !important;
}
.navbar__top #programy-nav-list .aw-color a {
  background-color: var(--main1);
  border: 2px solid var(--main1);
  color: var(--white);
}
.navbar__top #programy-nav-list .aw-color a:hover {
  background: none;
}
.navbar__top #programy-nav-list .aw-color a:hover span {
  color: var(--main1);
}
.navbar__top #programy-nav-list .current_page_item.aw-color a {
  background: none;
}
.navbar__top #programy-nav-list .current_page_item.aw-color a span {
  color: var(--main1);
}
.navbar__top #programy-nav-list .ao-color a {
  background-color: var(--main3);
  border: 2px solid var(--main3);
  color: var(--white);
}
.navbar__top #programy-nav-list .ao-color a:hover {
  background: none;
}
.navbar__top #programy-nav-list .ao-color a:hover span {
  color: var(--main3);
}
.navbar__top #programy-nav-list .current_page_item.ao-color a {
  background: none;
}
.navbar__top #programy-nav-list .current_page_item.ao-color a span {
  color: var(--main3);
}
.navbar__top #programy-nav-list .adk-color a {
  background-color: var(--main2);
  border: 2px solid var(--main2);
  color: var(--white);
}
.navbar__top #programy-nav-list .adk-color a:hover {
  background: none;
}
.navbar__top #programy-nav-list .adk-color a:hover span {
  color: var(--main2);
}
.navbar__top #programy-nav-list .current_page_item.adk-color a {
  background: none;
}
.navbar__top #programy-nav-list .current_page_item.adk-color a span {
  color: var(--main2);
}

@media only screen and (max-width: 768px) {
  .navbar__cta {
    width: 100%;
    background: var(--white);
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}
.navbar__cta .navbar__cta__logos {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .navbar__cta .navbar__cta__logos {
    width: 100%;
  }
}
.navbar__cta .navbar__cta__logos a {
  display: block;
  text-align: center;
  text-decoration: none !important;
}
.navbar__cta .navbar__cta__logos a:hover {
  opacity: 0.8;
}
.navbar__cta .navbar__cta__logos a span {
  display: block;
  font-size: 0.75em;
  color: var(--light-black);
}
@media only screen and (max-width: 1300px) {
  .navbar__cta .navbar__cta__logos a span {
    display: none;
  }
}

.navbar__toggler {
  display: none;
  padding: 0 30px;
  min-height: 45.2px;
  align-items: center;
}
@media only screen and (max-width: 998px) {
  .navbar__toggler {
    display: flex;
    order: 4;
  }
}
@media only screen and (max-width: 768px) {
  .navbar__toggler {
    order: 4;
  }
}
@media only screen and (max-width: 350px) {
  .navbar__toggler {
    padding: 0 15px;
  }
}
.navbar__toggler .navbar__toggler__btn {
  width: 50px;
  cursor: pointer;
}
.navbar__toggler .navbar__toggler__btn span {
  transition: all 0.2s linear;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--main2);
  margin-bottom: 5px;
}
.navbar__toggler .navbar__toggler__btn span:nth-child(1) {
  width: 50%;
}
.navbar__toggler .navbar__toggler__btn span:nth-child(3) {
  width: 75%;
}
.navbar__toggler:hover .navbar__toggler__btn span {
  background-color: var(--main2);
  width: 100% !important;
}

.navbar__toggler.active .navbar__toggler__btn span {
  width: 100%;
  background-color: var(--main2);
}
.navbar__toggler.active .navbar__toggler__btn span:nth-child(2) {
  display: none;
}
.navbar__toggler.active .navbar__toggler__btn span:nth-child(1) {
  transform: rotate(45deg) translate(0px, 3px);
}
.navbar__toggler.active .navbar__toggler__btn span:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -7px);
}

.btn-main {
  padding: 10px 20px;
  background-color: var(--main3);
  border: 2px solid var(--main3) !important;
  color: var(--white);
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.btn-main:hover {
  background: none;
  color: var(--main3);
}

.btn-rev {
  padding: 10px 20px;
  border: 2px solid var(--main3) !important;
  color: var(--main3);
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.btn-rev:hover {
  background-color: var(--main3);
  color: var(--white);
}

.btn-aw {
  border-color: var(--main1) !important;
  color: var(--main1) !important;
}
.btn-aw:hover {
  background-color: var(--main1) !important;
  color: var(--white) !important;
}

.btn-ao {
  border-color: var(--main3) !important;
  color: var(--main3) !important;
}
.btn-ao:hover {
  background-color: var(--main3) !important;
  color: var(--white) !important;
}

.btn-adp {
  border-color: var(--main2) !important;
  color: var(--main2) !important;
}
.btn-adp:hover {
  background-color: var(--main2) !important;
  color: var(--white) !important;
}

.wp-block-spacer {
  background-color: #eeeef0 !important;
}

.kotwica {
  height: 100px;
  background-color: #eeeef0 !important;
  border-radius: 6px;
  position: relative !important;
  z-index: 1 !important;
  margin-top: 0 !important;
  width: 100% !important;
  padding: 10px;
}
.kotwica:before {
  content: "Anchor point";
  position: absolute;
  color: var(--main);
  background-color: var(--main);
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--main);
}

.bip-archive {
  background-color: #eeeef0 !important;
  border-radius: 6px;
  position: relative !important;
  z-index: 1 !important;
  margin-top: 0 !important;
  width: 100% !important;
  padding: 10px;
}
.bip-archive:before {
  content: "Archiwum";
  position: absolute;
  color: var(--main);
  background-color: var(--main);
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--main);
}
.bip-archive .bip-archive-content {
  height: auto !important;
  overflow: inherit !important;
}
.bip-archive .btn-revers {
  display: none !important;
}

.wp-block {
  max-width: 90%;
}

/* Width of "wide" blocks */
.wp-block[data-align=wide] {
  max-width: 100%;
}

/* Width of "full-width" blocks */
.wp-block[data-align=full] {
  max-width: none;
}

html :where(.wp-block)[data-align=right] > * {
  float: none !important;
}

html :where(.wp-block)[data-align=left] > * {
  float: none !important;
}

html :where(.wp-block)[data-align=left],
html :where(.wp-block)[data-align=right] {
  width: 100%;
  height: initial !important;
}

.search-resoults-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

@media only screen and (max-width: 768px) {
  .search-resoults-info {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.search-resoults-info .swicher-results-display {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.search-resoults-info .swicher-results-display .swicher {
  transition: all 0.3s linear;
}

.search-resoults-info .swicher-results-display .swicher:hover path,
.search-resoults-info .swicher-results-display .swicher:hover rect,
.search-resoults-info .swicher-results-display .swicher:hover text {
  transition: all 0.3s linear;
  fill: #528abf;
}

.search-resoults-info path,
.search-resoults-info rect,
.search-resoults-info text {
  transition: all 0.3s linear;
  fill: #e2e2e2;
}

.search-resoults-info .active {
  cursor: auto;
}

.search-resoults-info .active path,
.search-resoults-info .active rect,
.search-resoults-info .active text {
  fill: black;
}

.search-resoults-info .active:hover path,
.search-resoults-info .active:hover rect,
.search-resoults-info .active:hover text {
  fill: black !important;
}

.search-filter-disabled {
  opacity: 0.2 !important;
}

[data-name=punkty] .acf-input .canvas {
  display: none;
}

.acf-block-preview .go-map .row {
  flex-wrap: wrap;
}
.acf-block-preview .go-map .row .col {
  width: 100% !important;
}
.acf-block-preview #map,
.acf-block-preview .col-map {
  display: none !important;
}

.acf-block-preview .home-slider,
.acf-block-preview .b-events,
.acf-block-preview .last-posts,
.acf-block-preview .last-projects,
.acf-block-preview .bg-centrum-person,
.acf-block-preview .bg-centrum-lokalizacja {
  position: relative !important;
  width: 100% !important;
  left: 0 !important;
  margin-left: 0 !important;
}

.bg-home-project:after,
.bg-home-posts:after,
.bg-centrum-lokalizacja:after {
  display: none;
}

.acf-block-preview .bl-conatainer {
  border: 1px solid #eeeef0;
  width: 100% !important;
  left: 0 !important;
  margin-left: 0px !important;
}
.acf-block-preview .bl-conatainer .container {
  padding: 0 !important;
}
.acf-block-preview .bl-conatainer:before {
  content: "Kontener";
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--main);
  background-color: var(--main);
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--main);
}/*# sourceMappingURL=go-admin.css.map */