@import "../../src/css/scss/variable";
.bl-conatainer {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  //   background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
