@import "../../src/css/scss/variable";

.home-slider {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  margin-bottom: 50pxc;
  // padding: 30px 0;
  // background-color: var(--main3);
  @media #{$md} {
    position: relative;
    width: 100vw;
    left: 0;
    margin-left: -15px;
  }
  .swiper {
    overflow: visible;
  }
  .swiper-slide {
    // height: 80vh;
    // min-height: 680px;
    // height: 70vh;
    // overflow: hidden;
    background-color: var(--main);
    background-position: center right;
    background-size: cover;
    overflow: visible !important;
    @media #{$sm} {
      min-height: initial;
    }
    .slide {
      position: relative;
      z-index: 66;
      height: 100%;
      display: flex;
      margin-top: 9.375em;

      // min-height: 680px;
      @media #{$md} {
        margin-top: 200px;
      }
      @media #{$sm} {
        margin-top: 250px;
        flex-wrap: wrap;
      }
      .slide__content {
        width: 50%;
        align-self: center;
        transform: translate(0, -50px);
        @media #{$sm} {
          width: 100%;
          text-align: center;
        }
        @media #{$md} {
          transform: translate(0, 0);
        }
        .slider__content_title {
          font-size: 3.8em;
          @media #{$xlg} {
            font-size: 3.1em;
          }
          @media #{$lg} {
            font-size: 2.5em;
          }
          @media #{$sm} {
            font-size: 1.9em;
          }
          // span {
          //   position: relative;
          //   &:before {
          //     content: "";
          //     position: absolute;
          //     z-index: -1;
          //     z-index: 0;
          //     display: block;
          //     clip-path: polygon(5% 83%, 100% 81%, 96% 100%, 0% 100%);
          //     background-color:var(--main2);
          //     width: 110%;
          //     height: 100px;
          //     bottom: 5px;
          //     left: -5%;
          //     opacity: 0.3;
          //   }
          // }
        }
        .btn__wraper {
          display: flex;
          align-items: stretch;
          gap: 20px;
          @media #{$sm} {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
          }
          p {
            font-family: "futura-pt-condensed", sans-serif;
            font-weight: 800;
            font-style: normal;
            margin-bottom: 0px;
            align-self: center;
            background-color: var(--main3);
            padding: 12px 20px;
            position: relative;
            font-size: 1.75em;
            @media #{$lg} {
              font-size: 1.125em;
            }
            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              background-color: var(--main3);
              height: 100%;
              width: 1000%;
              right: 0;
              top: 0;
            }
          }
          a {
            align-self: center;
            padding: 20px;
          }
        }
      }
      .kv {
        position: relative;
        z-index: 2;
        width: 50%;
        @media #{$sm} {
          width: 100%;
        }
        img {
          max-width: 115%;
          // width: 800px;

          height: auto;
          transform: translate(20px, 0);
          @media #{$sm} {
            max-width: 500px;
            width: 100%;
            transform: translate(0px, 0);
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .swiper-pagination {
    right: 30px !important;
    left: initial !important;
    transform: initial !important;
    width: initial;

    span {
      width: 16px;
      height: 16px;
      opacity: 0.6;
      background-color: var(--white);
    }
    .swiper-pagination-bullet-active {
      background-color: var(--main2);
      opacity: 1;
    }
  }
  .swiper-pagination {
    right: 30px !important;
    padding: 25px 50px;
    left: initial !important;
    width: initial !important;
    @media #{$sm} {
      bottom: 10px !important;
      width: initial !important;
      padding: 0px;
      right: initial !important;
      left: 10px !important;
    }
    .swiper-pagination-bullet {
      background-color: var(--black) !important;
      width: 14px !important;
      height: 14px !important;
    }
    .swiper-pagination-bullet-active {
      background-color: var(--black) !important;
    }
  }
}
#header {
  margin-bottom: 0 !important;
  background: none !important;
  position: absolute;
  z-index: 66;
  width: 100%;
}
#header .h-ornament {
  display: none !important;
}
.h-ornament {
  position: absolute;
  z-index: 6;
  bottom: -20px;
  @media #{$sm} {
    bottom: -7px;
  }
}
.autoplay-progress {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--black);
  @media #{$sm} {
    bottom: 10px;
    right: 10px;
  }
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--black);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.hight-contrast {
  .home-slider {
    .swiper-slide {
      background: none !important;
    }
    .slider__content_title {
      color: var(--black) !important;
    }
    p {
      color: var(--white) !important;
    }
    .swiper-pagination {
      display: none;
    }
    #Forma_2 {
      fill: var(--black);
      opacity: 0.1;
    }
    #Forma_1 {
      fill: var(--black);
      // opacity: 0.1;
    }
  }
}
