:root {
  --main: #185ab1;
  --main1: #8bbc4f;
  --main2: #36a9e1;
  --main3: #f7931d;
  --black: #091a31;
  --black2: #2b2b2b;
  --light-black: #5e5a52;
  --gray: #b2b9c5;
  --light: #f7f7f5;
  --white: #fff;
}

.hight-contrast {
  --main: #ffeb87;
  --main: #ffeb87;
  --main1: #ffeb87;
  --main2: #ffeb87;
  --main3: #ffeb87;
  --black: #ffeb87;
  --black2: #fff;
  --light-black: #ffeb87;
  --white: #212529;
}

.home-slider {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  margin-bottom: 50pxc;
}
@media only screen and (max-width: 998px) {
  .home-slider {
    position: relative;
    width: 100vw;
    left: 0;
    margin-left: -15px;
  }
}
.home-slider .swiper {
  overflow: visible;
}
.home-slider .swiper-slide {
  background-color: var(--main);
  background-position: center right;
  background-size: cover;
  overflow: visible !important;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide {
    min-height: initial;
  }
}
.home-slider .swiper-slide .slide {
  position: relative;
  z-index: 66;
  height: 100%;
  display: flex;
  margin-top: 9.375em;
}
@media only screen and (max-width: 998px) {
  .home-slider .swiper-slide .slide {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide {
    margin-top: 250px;
    flex-wrap: wrap;
  }
}
.home-slider .swiper-slide .slide .slide__content {
  width: 50%;
  align-self: center;
  transform: translate(0, -50px);
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .slide__content {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 998px) {
  .home-slider .swiper-slide .slide .slide__content {
    transform: translate(0, 0);
  }
}
.home-slider .swiper-slide .slide .slide__content .slider__content_title {
  font-size: 3.8em;
}
@media only screen and (max-width: 1400px) {
  .home-slider .swiper-slide .slide .slide__content .slider__content_title {
    font-size: 3.1em;
  }
}
@media only screen and (max-width: 1300px) {
  .home-slider .swiper-slide .slide .slide__content .slider__content_title {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .slide__content .slider__content_title {
    font-size: 1.9em;
  }
}
.home-slider .swiper-slide .slide .slide__content .btn__wraper {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .slide__content .btn__wraper {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}
.home-slider .swiper-slide .slide .slide__content .btn__wraper p {
  font-family: "futura-pt-condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 0px;
  align-self: center;
  background-color: var(--main3);
  padding: 12px 20px;
  position: relative;
  font-size: 1.75em;
}
@media only screen and (max-width: 1300px) {
  .home-slider .swiper-slide .slide .slide__content .btn__wraper p {
    font-size: 1.125em;
  }
}
.home-slider .swiper-slide .slide .slide__content .btn__wraper p:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--main3);
  height: 100%;
  width: 1000%;
  right: 0;
  top: 0;
}
.home-slider .swiper-slide .slide .slide__content .btn__wraper a {
  align-self: center;
  padding: 20px;
}
.home-slider .swiper-slide .slide .kv {
  position: relative;
  z-index: 2;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .kv {
    width: 100%;
  }
}
.home-slider .swiper-slide .slide .kv img {
  max-width: 115%;
  height: auto;
  transform: translate(20px, 0);
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .kv img {
    max-width: 500px;
    width: 100%;
    transform: translate(0px, 0);
    display: block;
    margin: 0 auto;
  }
}
.home-slider .swiper-pagination {
  right: 30px !important;
  left: initial !important;
  transform: initial !important;
  width: initial;
}
.home-slider .swiper-pagination span {
  width: 16px;
  height: 16px;
  opacity: 0.6;
  background-color: var(--white);
}
.home-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--main2);
  opacity: 1;
}
.home-slider .swiper-pagination {
  right: 30px !important;
  padding: 25px 50px;
  left: initial !important;
  width: initial !important;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-pagination {
    bottom: 10px !important;
    width: initial !important;
    padding: 0px;
    right: initial !important;
    left: 10px !important;
  }
}
.home-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--black) !important;
  width: 14px !important;
  height: 14px !important;
}
.home-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--black) !important;
}

#header {
  margin-bottom: 0 !important;
  background: none !important;
  position: absolute;
  z-index: 66;
  width: 100%;
}

#header .h-ornament {
  display: none !important;
}

.h-ornament {
  position: absolute;
  z-index: 6;
  bottom: -20px;
}
@media only screen and (max-width: 768px) {
  .h-ornament {
    bottom: -7px;
  }
}

.autoplay-progress {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--black);
}
@media only screen and (max-width: 768px) {
  .autoplay-progress {
    bottom: 10px;
    right: 10px;
  }
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--black);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.hight-contrast .home-slider .swiper-slide {
  background: none !important;
}
.hight-contrast .home-slider .slider__content_title {
  color: var(--black) !important;
}
.hight-contrast .home-slider p {
  color: var(--white) !important;
}
.hight-contrast .home-slider .swiper-pagination {
  display: none;
}
.hight-contrast .home-slider #Forma_2 {
  fill: var(--black);
  opacity: 0.1;
}
.hight-contrast .home-slider #Forma_1 {
  fill: var(--black);
}/*# sourceMappingURL=slider.css.map */